spring:
  application:
    name: devops-assignment
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:./data/app-db;DB_CLOSE_ON_EXIT=FALSE;AUTO_RECONNECT=TRUE
    username: sa
    password: "app"

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  jackson:
    serialization:
      write-dates-as-timestamps: false
    default-property-inclusion: non_null
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

  endpoint:
    health:
      show-details: always
server:
  port: 8080

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
  packages-to-scan: uz.javachi.devops_assignment.controller

logging:
  level:
    root: INFO
    uz.javachi.devops_assignment: INFO
    uz.javachi.devops_assignment.config.LoggingFilter: INFO
    org.springframework: WARN
    org.hibernate: WARN
  file:
    name: logs/application.log
  pattern:
    file: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"