# Application configuration
app:
  name: devops
  namespace: devops-assignment
  image:
    repository: asadbekabdinazarov/devops-assignment
    tag: "127050cbf54657566f4e610b2f7722767d31c04d"
    pullPolicy: IfNotPresent
  
  replicaCount: 1
  
  service:
    type: ClusterIP
    port: 8080
    targetPort: 8080
  
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 200m
      memory: 256Mi
  
  env:
    - name: SPRING_PROFILES_ACTIVE
      value: ""

# ServiceMonitor configuration
serviceMonitor:
  enabled: true
  interval: 30s
  scrapeTimeout: 10s
  path: /actuator/prometheus
  # Additional labels for Prometheus to discover this ServiceMonitor
  # kube-prometheus-stack odatda 'release: prometheus' label'ini qidiradi
  additionalLabels:
    release: prometheus

promtail:
  enabled: true

  config:
    snippets:
      pipelineStages:
        - regex:
            expression: '^(?P<timestamp>[^ ]+) +(?P<level>INFO|ERROR|WARN|DEBUG)'
        - labels:
            level:
        - timestamp:
            source: timestamp
            format: RFC3339Nano