{{- if .Values.prometheus.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "devops-assignment.fullname" . }}-prometheus
  namespace: {{ .Values.prometheus.namespace }}
  labels:
    {{- include "devops-assignment.prometheusLabels" . | nindent 4 }}
spec:
  type: {{ .Values.prometheus.service.type }}
  ports:
    - port: {{ .Values.prometheus.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "devops-assignment.prometheusSelectorLabels" . | nindent 4 }}
{{- end }}
