apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: devops-assignment-prometheus
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  source:
    repoURL: https://github.com/asadbek-abdinazarov/devops-assignment.git  # Update with your Git repository URL
    targetRevision: HEAD
    path: helm/devops-assignment
    helm:
      valueFiles:
        - values.yaml
      values: |
        prometheus:
          enabled: true
  
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  
  revisionHistoryLimit: 10
